/*
	Put anything you reference with "url()" in ../assets/
	This way, you can minify your application, and just remove the "source" folder for production
*/
#app {
	background-color: #EAEAEA;
}

.itemName
{
	font-size:1.25em;
	display:inline-block;
	vertical-align:middle;
	margin:4px 6px 5px;
	box-sizing:border-box;
}

.itemDetails
{
	font-size:0.8em;
	color:#0000FF;
}

.suggestionsDrawer
{
	background-color:rgba(0,0,0,0.25);
	margin:0ex 0.6em;
}

input
{
	color:black;
	background:white;
}

.slm-progress-button-client
{
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0px;
	margin-left: 8px;
	margin-right: 8px;
}

.rowbutton
{
	width:100%;
}

.enyo-panels > *
{
	background-color:#EAEAEA;
	box-shadow:-4px 0px 4px rgba(0,0,0,0.3);
	-webkitbox-shadow:-4px 0px 4px rgba(0,0,0,0.3);
	-moz-box-shadow:-4px 0px 4px rgba(0,0,0,0.3);
}
