@keyframes highlight {
  from {
	background-color: #C4E3FE;
  }
  to {
	background-color: transparent;
  }
}
@-o-keyframes highlight {
  from {
	background-color: #C4E3FE;
  }
  to {
	background-color: transparent;
  }
}
@-webkit-keyframes highlight {
  from {
	background-color: #C4E3FE;
  }
  to {
	background-color: transparent;
  }
}
@-moz-keyframes highlight {
  from {
	background-color: #C4E3FE;
  }
  to {
	background-color: transparent;
  }
}

.itemName
{
	font-size:1.25rem;
	display:inline-block;
	vertical-align:middle;
	margin:4px 6px 5px;
	box-sizing:border-box;
}

.itemDetails
{
	font-size:0.8em;
	color:#0000FF;
}

.suggestionsList
{
	margin:0em 0.6em;
	background:white;
	border-radius: 0em 0em 1em 1em;
}

input
{
	color:black;
	background:white;
}

.checkout-button .onyx-progress-button-client
{
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0px;
	margin-left: 8px;
	margin-right: 8px;
}

.rowbutton
{
	width:100%;
}

.enyo-panels
{
	margin:10px;
}
.enyo-panels > *
{
	box-shadow:-4px 0px 4px rgba(0,0,0,0.3);
	-webkit-box-shadow:-4px 0px 4px rgba(0,0,0,0.3);
	-moz-box-shadow:-4px 0px 4px rgba(0,0,0,0.3);
}

.highlight
{
	animation: highlight 1s ease-in-out 1;
	-o-animation: highlight 1s ease-in-out 1;
	-webkit-animation: highlight 1s ease-in-out 1;
	-moz-animation: highlight 1s ease-in-out 1;
}

.selected
{
	background-color: #C4E3FE;
	color: black;
}

.recessed
{
	border-color:black;
	border-style:solid;
	border-width:0px 4px 0px 4px;
	background-color:rgba(0,0,0,0.1);
}

.divider .divider-letter, .divider .divider-line, .divider .divider-label
{
	background-color:#F79A42;
	border-top:2px solid rgba(0,0,0,0.2);
	border-bottom:2px solid rgba(255,255,255,0.5);
	vertical-align:middle;
	position:relative;
}
.divider-label, .divider-letter
{
	line-height:1.25em;
	text-align:center;
	border-radius:0.75em;
	margin:0em -0.5em 0em -0.5em;
	padding-left:0.5em;
	padding-right:0.5em;
	z-index:2;
	height:1.5em !important;
}
.divider-letter
{
	width:1.5em;
	padding:0em;
}

.divider-line
{
	width:2em;
	height:8px !important;
	z-index:1;
}
