/*
	Put anything you reference with "url()" in ../assets/
	This way, you can minify your application, and just remove the "source" folder for production
*/
#app {
	background-color: #EAEAEA;
}

.itemName
{
	font-size:1.25em;
}

.itemDetails
{
	font-size:0.8em;
	color:#0000FF;
}

.suggestionsDrawer
{
	background-color:rgba(0,0,0,0.25);
	margin:0ex 0.6em;
}

input
{
	color:black;
	background:white;
}
